<section id="blog-view">
    <div *ngIf="blog" class="d-flex flex-column">
        <div class="d-flex justify-content-center align-content-center w-100">
            <img *ngIf="blog.banner?.url" [src]="blog.banner?.url + '?tpl=large'" class="banner" />
        </div>
        <div>
            <h1 class="mt-4">{{blog?.title}}</h1>
            <p class="mt-2"><i>{{blog?.description}}</i></p>
            <div class="d-flex">
                <small class="mr-2"><b>{{blog.author?.name | titlecase}}</b></small>
                <small class="mr-2">|</small>
                <small>{{blog.published_at | date}}</small>
            </div>
        </div>

        <div class="blog-content">
            <hr class="mt-4 mb-4"/>
            <div [innerHTML]="blog?.content | safeHtml">
            </div>
        </div>

        <div class="d-flex mt-4">
            <mat-chip-list>
                <h2 *ngFor="let tag of blog?.tags" >
                    <mat-chip [routerLink]="['/tag', tag]">#{{tag}}</mat-chip></h2>
            </mat-chip-list>
        </div>
        <div>
            <hr class="mt-4 mb-4"/>
        </div>
    </div>

    <div *ngIf="!blog">
        <div *ngIf="!loading else Loading" class="d-flex flex-column justify-content-center align-items-center pt-4">
            <mat-icon color="warn" class="big-icon mb-4">feedback</mat-icon>
            <p class="mt-4">The blog you are looking for is not here! Perhaps you should post it.</p>
        </div>

        <ng-template #Loading>
            <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </div>
</section>
<app-comments [blogId]="blog?.id" [blogOwnerId]="blog?.user_id"></app-comments>
