<section id="profile">
    <div class="d-flex flex-column">
        <div class="mb-4 controls d-flex justify-content-center align-items-center w-100">
            <mat-form-field appearance="outline" class="w-100" style="color: black">
                <mat-label>Search</mat-label>
                <input matInput type="text" [formControl]="search" placeholder="Search Blogs...">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button (click)="clearSearch()" class="ml-2 mb-4">Clear Search</button>
        </div>
        <div *ngIf="!loading else Loading">
            <mat-card *ngFor="let blog of blogs" class="mt-4 p-4 blog-item" >
                <div class="d-flex justify-content-between">
                    <div class="w-25">
                        <h5>{{blog.title}}</h5>
                        <small>{{blog.description}}</small>
                    </div>
                    <mat-chip-list class="d-flex justify-content-center align-items-center w-25">
                        <mat-chip *ngIf="blog.published" color="warn">Published</mat-chip>
                    </mat-chip-list>
                    <div class="d-flex justify-content-end align-items-center w-25">
                        <button *ngIf="blog?.published" [routerLink]="['/blog', blog?.slug]" mat-stroked-button class="mr-2">
                            View
                        </button>

                        <button (click)="openManagePanel(blog)" mat-stroked-button>
                            Edit
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <ng-template #Loading>
            <div class="w-100 d-flex justify-content-center align-content-center">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
        <div>
            <mat-paginator
                    [pageSize]="5"
                    [pageIndex]="currentPage -1"
                    [length]="totalItems"
                    (page)="pageChangeEvent($event)"

            ></mat-paginator>
        </div>
    </div>

</section>
