<section id="home">
    <div *ngIf="!configured else content">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>

    <ng-template #content>
        <app-explore></app-explore>
    </ng-template>
</section>
